.editor-wrap {
    margin: 0 auto;
}

.btn-wrap {
    margin-bottom: 10px;
}

.btn-wrap button, .btn-wrap select {
    margin-right: 10px;
}

.editor {
    width: 800px;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 6px 8px;
}

.myEditor:focus {
    outline: none;
    border: 1px solid #459df5;
}