@import "~antd/dist/antd.css";

* {
	margin: 0;
	padding: 0;
}

.tooltip-wrap {
	position: absolute;
	background-clip: border-box;
	box-shadow: 0 4px 22px 0 rgb(15 35 95 / 12%);
	color: #fff;
	padding: 5px 15px;
	font-size: 14px;
	border-radius: 4px;
	word-break: break-all;
	z-index: 99;
	background: black;
	margin-left: 10px;
}

.tooltip-wrap::before {
	display: block;
	content: "";
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: black;
	position: absolute;
	top: -9px;
	left: calc(50% - 5px);
}

.trigger-wrap {
	display: inline-block;
}

.tooltip {
	display: inline-block;
}

.hide {
	opacity: 1;
}

#test {
	cursor: no-drop;
	width: 300px;
	height: 300px;
}

#app {
	margin: 50px;
}